*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    display: flex;
    gap: .2em;
    justify-content: center;
    margin-top: 5em;
}

#adicionarBtn, #OrdenarBtn{
    background-color: #DEDEDE;
    border: 1px solid;
    padding: 0px 2px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.589), rgba(128, 128, 128, 0.151));
    cursor: pointer;
}