*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 50px;
    text-align: center;
}

.container h1{
    margin: 20px;
}

#input1, #input2{
    margin: 10px;
}

input{
    max-width: 80px;
    padding: 5px;
}

form button{
    width: 80px;
    height: 30px;
    text-shadow: -1px 0px 0px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #beb8b8;
}

#resultado{
    margin-top: 25px;
}