@font-face {
    font-family: 'Poppins';
    src: url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.container {
    width: 400px;
    height: 430px;
    background-color: rgba(32, 31, 31, 0.514);
    border-radius: 25px;
    align-items: center;
    padding: 0 3em;
}

h1{
    text-align: center;
    margin: 1em;
    margin-top: .7em;
    padding-bottom: .5em;
}


#e-mail, #password {
    width: 100%;
    background: transparent;
    margin: auto;
    border: none;
    border-bottom: 3px solid #fff;
    font-size: 1em;
}

#e-mail, #password,::placeholder {
    color: #fff;
    padding-bottom: 1em;
}


#e-mail {
    margin-bottom: 2em;
}

.icon-email, .icon-pass {
    display: flex;
}

.fa-solid{
    width: 19em;
    position: absolute;
    border: 2px solid blue;
    padding-left: 17em;
}

.link{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}


.Forgot{
    margin-left: auto; 
    margin-right: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    width: 100%;
    height: 3em;
    display: block;
    margin: auto;
    border-radius: 2em;
}


.Register {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 1em;
}

p{
    margin-right: 0.3em;
}